::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 50px;
}
::-webkit-scrollbar{
  width: 5px;
}
.customScroll ::-webkit-scrollbar{
  width: 5px;
}

.firstsection {
  margin: 5% 2%;
  border-radius: 55px;
  background-size: cover;
  background-position: center;
  padding: 15%;
}
.abt {
  padding-right: 10%;
  padding-left: 10%;
  font-size: 22px;
  font-weight: bold;
}
.logoimg {
  width: 1500px;
  padding: 15px;
}
.mainbox {
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.frontpanel {
  height: auto;
}

.bioimg {
  width: 300px;

  margin-top: 20%;
  border: black solid;
  border-radius: 26px;
}
.paras {
  margin: 2%;
  padding: 12% 0;
  border-radius: 55px;
  background-color: #217f92;
}
.container {
  margin: 2% 0;
}

.content {  
  padding: 0 2%;
  margin-left: 25%;
}
.content-box {
  display: flex;
  flex-direction: column;
  scrollbar-width: 5px;
  justify-content: center;
  position: fixed;
  height: 85vh;
  margin-top: 50px;
  overflow: hidden;
  overflow-y: scroll;
  min-width: 15%;
  padding: 25px 15px;
  width: 20%;
  scroll-behavior: smooth;
  /* margin: 2%; */
  border-radius: 10px;
  
}
.content-box li a {
  text-decoration: none;
  /* margin: 5px; */
}
.tagh6 {
  font-size: 15px;
  /* padding: 5px; */
  margin: 5px;
}
.content li a {
  text-decoration: none;
  color: rgb(228, 17, 147);
  border-radius: 5px;
  padding: 1px;
}
.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 72px;
  padding-top: 3%;
}
.biotech {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.625rem;
  padding-top: 3%;
}
.content ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 2px;
  border-radius: 5px;
  padding: 3px;
}
.content li {
  margin: 3px;
}
.button {
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.6s ease;
  padding: 0 8px;
  background-color: transparent;
  color: forestgreen;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 11rem;
  padding: 12px 9px;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.history ol li {
  font-size: 19px;
}
.intro p {
  font-size: 18px;
}
p {
  font-size: 16px;
}
.intro p li {
  font-size: 18px;

}
.intro li{
  font-size: 18px;
}
h3 {
  text-align: center;
  display: inline;
}
.lefttable {
  width: 50%;
}
.column {
  justify-content: center;
}
.cp {
  width: 100%;
  border-radius: 15px;
}
.crdbdr {
  border-radius: 20px;
  margin: 2%;
}
.crdbdrimg {
  border-radius: 21px;
  padding: 4px;
}
@media only screen and (max-width: 992px) {

  .mainbox {
    flex-direction: column;
    margin: 4px;
  }

  .paras {
    margin: 5px;
    border-radius: 40px;
  }

  .firstsection {
    margin: 5%;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    padding: 15%;
  }
  .abt {
    font-size: 17px;
  }

  .content {
    margin: 2% 9%;
  }
  .content-box {
    display: flex;
    /* padding: 0 15px; */
    justify-content: center;
    position: unset;
    width: auto;
    min-width: none;
    margin-top: 6%; 
    height: 60vh;
  }
  .container {
    flex-direction: column;
  }
  .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 64px;
    padding-top: 3%;
  }
}
@media only screen and (max-width: 768px ) {
  .mainbox {
    flex-direction: column;
    margin: 4px;
  }

  .paras {
    margin: 5px;
    border-radius: 40px;
  }

  .firstsection {
    margin: 5%;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    padding: 15%;
  }
  .abt {
    font-size: 17px;
  }

  .content {
    margin: 2% 9%;
  }
  .content-box {
    display: flex;
    /* padding: 0 15px; */
    justify-content: center;
    position: unset;
    width: auto;
    min-width: none;
    margin-top: 10%; 
    height: 50vh;
  }
  .container {
    flex-direction: column;
  }
  .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 64px;
    padding-top: 3%;
  }
}
@media only screen and (max-width: 375px) {

  .content-box {
    display: flex;
    /* padding: 0 15px; */
    justify-content: center;
    position: unset;
    width: auto;
    min-width: none;
    margin-top: 13%; 
    height: 40vh;
    margin: 20% 5% 0 5% ;
  }
  .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
    padding-top: 3%;
  }
}
@media only screen and (max-width: 414px) {

  .content-box {
    display: flex;
    /* padding: 0 15px; */
    justify-content: center;
    position: unset;
    width: auto;
    min-width: none;
    margin-top: 13%; 
    height: 40vh;
    margin: 20% 5% 0 5% ;
  }
  .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
    padding-top: 3%;
  }
}